{% extends 'base.html' %}
{% load static %}

{% block header_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/allies/ally-donation.css' %}">
{% endblock %}


{% block main_content %}

<section class="main-ally-donation">
    <div class="main-header-donation">
        <div class="main-header-donation__ally-info">
            <img src="https://pbs.twimg.com/profile_images/903005583623675904/u4h4ELJQ_400x400.jpg" alt="">
            <h2>Perficient, Inc</h2>
        </div>
        <div class="main-header-donation__add-donation">
            <img src="{% static 'img/icons/add-icon.png' %}" alt="">
        </div>
    </div>
    <div class="main-donation-summary">
        <div class="main-donation-summary__total-money">
            <h2 class="main-donation-summary__total-money__number" >$38.000.000</h2>
            <div class="main-donation-sumary__total-money__text">Dinero total donado</div>
        </div>
        <div class="main-donation-summary__type-donant">
            <h3 class="main-donation-summary__type-donant__letter">A</h3>
            <div class="main-donation-summary__type-donant__text">Donante tipo</div>
        </div>
    </div>
    
    <div class="history-donations">
        <h2>Historial de donaciones:</h2>
        <div class="history-donations__element-container">
            <div class="history-donations__element">
                <div class="history-donations_element-summary">
                    <h5>Septiembre 9 2023</h5>
                    <p>$8'400.000</p>
                </div>
                <div class="history-donations_element-description">
                    <p>Beca semestral Pro-Woman in tech</p>
                </div>
            </div>
            <div class="history-donations__element">
                <div class="history-donations_element-summary">
                    <h5>Septiembre 9 2023</h5>
                    <p>$8'400.000</p>
                </div>
                <div class="history-donations_element-description">
                    <p>Beca semestral Pro-Woman in tech</p>
                </div>
            </div>
            <div class="history-donations__element">
                <div class="history-donations_element-summary">
                    <h5>Septiembre 9 2023</h5>
                    <p>$8'400.000</p>
                </div>
                <div class="history-donations_element-description">
                    <p>Beca semestral Pro-Woman in tech</p>
                </div>
            </div>
            <div class="history-donations__element">
                <div class="history-donations_element-summary">
                    <h5>Septiembre 9 2023</h5>
                    <p>$8'400.000</p>
                </div>
                <div class="history-donations_element-description">
                    <p>Beca semestral Pro-Woman in tech</p>
                </div>
            </div>
            <div class="history-donations__element">
                <div class="history-donations_element-summary">
                    <h5>Septiembre 9 2023</h5>
                    <p>$8'400.000</p>
                </div>
                <div class="history-donations_element-description">
                    <p>Beca semestral Pro-Woman in tech</p>
                </div>
            </div>
            <div class="history-donations__element">
                <div class="history-donations_element-summary">
                    <h5>Septiembre 9 2023</h5>
                    <p>$8'400.000</p>
                </div>
                <div class="history-donations_element-description">
                    <p>Beca semestral Pro-Woman in tech</p>
                </div>
            </div>
            <div class="history-donations__element">
                <div class="history-donations_element-summary">
                    <h5>Septiembre 9 2023</h5>
                    <p>$8'400.000</p>
                </div>
                <div class="history-donations_element-description">
                    <p>Beca semestral Pro-Woman in tech</p>
                </div>
            </div>
            <div class="history-donations__element">
                <div class="history-donations_element-summary">
                    <h5>Septiembre 9 2023</h5>
                    <p>$8'400.000</p>
                </div>
                <div class="history-donations_element-description">
                    <p>Beca semestral Pro-Woman in tech</p>
                </div>
            </div>
            <div class="history-donations__element">
                <div class="history-donations_element-summary">
                    <h5>Septiembre 9 2023</h5>
                    <p>$8'400.000</p>
                </div>
                <div class="history-donations_element-description">
                    <p>Beca semestral Pro-Woman in tech</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block pagina_actual_aliados %}

<div class="current-page"></div>

{% endblock %}  