{% extends 'base.html' %}
{% load static %}


{% block header_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/add_allie.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/allies.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/investigation-projects/investigation_projects.css' %}">
{% endblock %}


{% block main_content %}


<div class="bread-crum">
    <a href="/allies/{{ally.id}}"><h1><b>{{ally.name}} &nbsp;</b></h1></a>
    <h1><b>> &nbsp;</b></h1>
    <h1><b>Proyectos de Investigacion</b></h1>
</div>

<div class="investigation-header">
    
    <div class="investigation-header__container-title">
        <a class="left-arrow-investigation" href="/interns/{{ally.id}}">
            <img class="arrow_image" src="{% static 'img/add_allie/arrow.png' %}" alt="arrow">
        </a>
        <h1>Proyectos de Investigacion</h1>
    </div>

    {% if user.user_type_id.name == "Filantropia" %}
    <a class="investigation-header__add-icon" href="/add_investigation_project">
        <img src="{% static 'img/icons/add-icon.png' %}" alt="">
    </a>
    {% endif %}
</div>

<section class="main-content-allies">    
    <form method="get" action="/allies/investigation/{{ally.id}}" class="button-container">
        <input class="search-field search-text-field" type="text" name="q" placeholder="Buscar por nombre" value="{{ request.GET.q }}">       
        <button class="buton-search-field" type="submit"><b>Buscar</b></button>
    </form>   

    <div class="allies-container">
        {% for investigation_project in investigation_projects %}
            <a class="" href="/investigation/{{investigation_project.id}}" style="width: 100%;">
                <div class="allies_in_investigarion_project" style="width: 100%;">
                    <div class="column column-left-bottom" style="width: 100%;">
                    <p class="allie-name">{{ investigation_project.name }}</p>
                    <p class="allie-area">{{ investigation_project.description }}</p>
             
                    {% for allie_project in investigation_project.allieproject_set.all %}
                        <img class="" src="data:image/jpeg;base64,{{allie_project.allie.image_link}}">
                    {% endfor %}
                        
                    
                    </div>
                    {% if user.user_type_id.name == "Filantropia" %}
                    <a href="/edit_investigation_project/{{investigation_project.id}}">
                        <img src="{% static 'img/icons/edit-icon.png' %}" alt="arrow" style="opacity: 0.7; margin-top:22px;height: 30px; width:30px; border-radius:0;">
                    </a>
                    {% endif %}
                   
                </div>
            </a>
        {% endfor %}
    
    </div>
</section>

{% endblock %}


{% block pagina_actual_aliados %}
<div class="current-page"></div>
{% endblock %}
