.arrow_image {
  height: 1.25rem;
  width: 1.875rem;
  margin-left: 1.25rem;
}

.top_arrow_tittle {
  display: flex;
  align-items: center;
  margin-top: 1.875rem;
  margin-left: 1.875rem;
}

.top_tittle {
  margin: 0;
  margin-left: 1.7rem;
  margin-right: 50%;
  color: #434343;
  font-size: 1.875rem;
  font-weight: 620;
}

.content_tittle {
  margin-top: 2rem;
  margin-left: 6.5rem;
  color: #434343;
  font-size: 1.5625rem;
  font-weight: 500;
}

.content_text {
  margin-bottom: 0.4375rem;
  margin-left: 0.625rem;
  color: #434343;
  font-size: 1.0625rem;
}


.content {
  margin-top: 1.875rem;
  margin-left: 9.375rem;
  width: 80%;
}

.card {
  margin-bottom: 2rem;
  display: flex;
  margin-left: 6.5rem;
  margin-right: 6.5rem;
  box-shadow: 0 0.25rem 0.5rem -0.125rem rgba(0, 0, 0, 0.2);
  border-radius: 0.9375rem;
  margin-top: 30px;
  
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.area-carga {
  text-align: center;
  border-radius: 80px;
  flex: 1;
}

.form_text {
  border: solid var(--font-color) 1px;
  padding: 0.4rem;
  border-radius: 0.5rem;
  width: 100%;
  font-size: 15px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
textarea {
  width: 100%;
  min-height: 40px; 
  resize: none; 
}

.column {
  box-sizing: border-box;
  padding: 20px;
  padding-bottom: 0px;
  flex: 1;
  width: 50%;
}
.column-right-top{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.column-left-top {
  width: 70%;
}

@media (min-width: 1024px) {
  .column-left-top {
      order: 1; 
  
  }
  .column-right-top {
      order:2;
  }
  .row {
    order: 3;
  }
  .column-right-bottom{
    order: 4; 
  }
  .column-left-bottom {
    order: 5; 
  }
}

@media (max-width: 1023px) {
  .column-left-top {
    order: 1; 

}
.row {
  order: 2;
}
.column-right-top {
    order:3;
}
.column-right-bottom{
  order: 4; 
}
.column-left-bottom {
  order: 2; 
}
.row-bottom{
  order: 3;
}
  .imagenes-columna {
    margin-bottom: 30px;
  }
}

.form {
  margin-top: 20px;
  flex-direction: column;
}

.button-style {
  background-color: #0159A1;
  color: white;
  border: solid var(--font-color) 1px;
  padding: 0.4rem;
  border-radius: 0.5rem;
  font-size: 15px;
  width:20%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  font-weight: 620;
}

.button-style2 {
  margin-right: 5.8%;
  margin-left: 25%;
  margin-bottom: 2.5rem;
  background-color: #0159A1;
  color: white;
  border: solid var(--font-color) 1px;
  padding: 0.6rem;
  border-radius: 0.5rem;
  font-size: 17px;
  width: 100%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  font-weight: 620;
}

.dropbtn {
  top: 30%;
  background-color: #0159A1;
  color: white;
  padding: 8px 20px; /* Added padding to accommodate the arrow */
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  position: relative; /* Added position relative for the arrow positioning */
}

.dropbtn::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0;
  border-color: white transparent transparent transparent;
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the right property to position the arrow */
  transform: translateY(-50%);
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 768px) {
  .dropbtn {
      width: 100%;
  }
  .dropdown-content {
      min-width: 100%;
      left: 0; 
  }
}


.small-button {
  padding: 6px 12px;
  font-size: 12px;
  background-color: #0159A1; 
  color: white; 
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  flex: 1;
  padding-right: 3rem;
  margin-right: 60px;    
}

.form_text {
font-weight: 600;
}
