.investigation-header {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}

.investigation-header__container-title {
    display: flex;
    width: 85%;
}

.investigation-header__container-title h1 {
    font-size: 2rem;
    margin: 0;
    font-weight: 700;
}


.left-arrow-investigation {
    width: 12.5%;
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
}

.left-arrow-investigation img {
    height: 1.5rem;
}

.investigation-header__add-icon {
    margin-right: 10%;
}

.investigation-header__add-icon img {
    width: 3rem;
}

.button-container {
    justify-content: space-between;
}

.search-field {
    margin-right: 3rem;
    width: 100%;
}

.allies-card {
    padding-left: 1.5rem;
    justify-content: space-between;
}


.allies-card a {
    font-size: 1.6rem;
}

.allies-container {
    max-height: 55vh;
}
.project_allies {
    color: #434343;
    font-weight: 400;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

.allies_in_investigarion_project{
    box-shadow: 1px 5px 3px #7070707f;
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    border: solid #F7F7F7 2px;
    border-radius: 20px;
    padding: 0.5rem;
    margin-bottom: 2rem;
    justify-content: space-between;
}

.allies_in_investigarion_project img{
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 20px;
}

.allies_in_investigarion_project p{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}