{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Mulish' rel='stylesheet'>
</head>
<body>
<div>
  <!-- Top Bar -->
  <nav id="topbar" class="custom-topbar topbar">

    <a class="navbar-brand" href="#">
      <img class="topbar-image" id="logo-image" src="{% static 'img/home/logo.png' %}" alt="Logo" width="150" height="70" class="d-inline-block align-text-top">
    </a>

  </nav>
      
  <nav id="sidebar" class="custom-sidebar sidebar sidebar-hidden" >

    <!-- Información de usuario -->
    <div class="user-info">
      <div class="centered-content d-flex flex-column align-items-center">
        <img src="{% static 'img/home/profile.png' %}" alt="Profile Image">
        <p class="user-name">Usuario</p>
      </div>
    </div>

    <hr>

    <!-- Opciones -->
    <ul class="nav nav-pills flex-column ">
      <li class="nav-item" style="margin-top: 7px;">
        <a href="/home" class="nav-link link-dark">
          <img class="sidebar-image" src="{% static 'img/home/home.png' %}" alt="inicio" width="16" height="16">
          Página Inicio
        </a>
        {% block pagina_actual_inicio %}{% endblock %}
      </li>

      <li class="nav-item">
        <a href="/allies" class="nav-link link-dark">
          <img class="sidebar-image" src="{% static 'img/home/users.png' %}" alt="aliados" width="16" height="16">
          Aliados
        </a>
        {% block pagina_actual_aliados %}{% endblock %}
      </li>

      <li class="nav-item">
        <a href="/calendar" class="nav-link link-dark">
          <img class="sidebar-image" src="{% static 'img/home/calendar.png' %}" alt="calendario" width="16" height="16">
          Calendario
        </a>
        {% block pagina_actual_calendario %}{% endblock %}
      </li>

      <li class="nav-item">
        <a href="/reports" class="nav-link link-dark">
          <img class="sidebar-image" src="{% static 'img/home/reports.png' %}" alt="reportes" width="16" height="16">
          Reportes
        </a>
        {% block pagina_actual_reportes %}{% endblock %}
      </li>

      <li class="nav-item">
        <a href="/investigations" class="nav-link link-dark">
          <img class="sidebar-image" src="{% static 'img/home/brain.png' %}" alt="investigaciones" width="16" height="16">
          Investigación
        </a>
        {% block pagina_actual_investigacion %}{% endblock %}
      </li>

      <li class="nav-item">
        <a href="/config" class="nav-link link-dark">
          <img class="sidebar-image" src="{% static 'img/home/settings.png' %}" alt="configuracion" width="16" height="16">
          Configuración
        </a>
        {% block pagina_actual_config %}{% endblock %}
      </li>
    </ul>

    <hr>

  </nav>
</div>

<div class="main_content">
  {% block main_content %}{% endblock %}
</div>
<script>
  const logoImage = document.getElementById('logo-image');

  // Agrega un evento para cambiar la imagen cuando el ancho de la pantalla sea menor de 800px
  window.addEventListener('resize', () => {
    if (window.innerWidth <= 800) {
      // Cambia la fuente de la imagen a 'logo2.png'
      logoImage.src = "{% static 'img/home/logo2.png' %}";
    } else {
      // Si la pantalla es más grande, vuelve a la imagen original
      logoImage.src = "{% static 'img/home/logo.png' %}";
    }
  });
  window.addEventListener('load', changeLogo);
  window.addEventListener('resize', changeLogo);
<script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
