{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRM Filantropia</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Mulish' rel='stylesheet'>
  {% block header_links %}{% endblock %}
</head>
<body>
<div>
  <!-- Top Bar -->
  <nav id="topbar" class="custom-topbar topbar">
    <button onclick="toggleSidebar()" class="topbar-menu-container">
        <img class="topbar-menu" src="{% static 'img/home/menu.png' %}" alt="Logo" width="45" height="45" class="d-inline-block align-text-top">
      </button>
      <a class="navbar-brand" href="/home">
      <picture>
        <source media="(max-width: 800px)" srcset="{% static 'img/home/logo2.png' %}" width="60" height="60">
        <img class="topbar-image" src="{% static 'img/home/logo.png' %}" alt="Logo" height="60" class="d-inline-block align-text-top">
      </picture>
    </a>
  </nav>
      
  <nav id="sidebar" class="custom-sidebar sidebar sidebar-hidden">

    <!-- Información de usuario -->
    <div class="user-info">
      <div class="centered-content d-flex flex-column align-items-center">
        <img src="{% static 'img/home/profile.png' %}" alt="Profile Image">
        <p class="user-name">{{user.username}}</p>
      </div>
    </div>

    <hr>

    <!-- Opciones -->
    <ul class="nav nav-pills flex-column ">
      <li class="nav-item" style="margin-top: 7px;">
        <a href="/home" class="nav-link link-dark">
          <img class="sidebar-image" src="{% static 'img/home/home.png' %}" alt="inicio" width="16" height="16">
          Página Inicio
        </a>
        {% block pagina_actual_inicio %}{% endblock %}
      </li>

      <li class="nav-item">
        <a href="/allies" class="nav-link link-dark">
          <img class="sidebar-image" src="{% static 'img/home/users.png' %}" alt="aliados" width="16" height="16">
          Aliados
        </a>
        {% block pagina_actual_aliados %}{% endblock %}
      </li>

      <li class="nav-item">
        <a href="/calendar/all" class="nav-link link-dark">
          <img class="sidebar-image" src="{% static 'img/home/calendar.png' %}" alt="calendario" width="16" height="16">
          Calendario
        </a>
        {% block pagina_actual_calendario %}{% endblock %}
      </li>

      <li class="nav-item">
        <a href="/reports" class="nav-link link-dark">
          <img class="sidebar-image" src="{% static 'img/home/reports.png' %}" alt="reportes" width="16" height="16">
          Reportes
        </a>
        {% block pagina_actual_reportes %}{% endblock %}
      </li>

      <li class="nav-item">
        <a href="/investigations" class="nav-link link-dark">
          <img class="sidebar-image" src="{% static 'img/home/brain.png' %}" alt="investigaciones" width="16" height="16">
          Investigación
        </a>
        {% block pagina_actual_investigacion %}{% endblock %}
      </li>

      <li class="nav-item">
        <a href="/config" class="nav-link link-dark">
          <img class="sidebar-image" src="{% static 'img/home/settings.png' %}" alt="configuracion" width="16" height="16">
          Configuración
        </a>
        {% block pagina_actual_config %}{% endblock %}
      </li>
    </ul>

    <hr>

  </nav>
</div>

<div class="main_content">
  {% block main_content %}{% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
</script>
<script>
  function toggleSidebar() {
    const sidebar = document.getElementById("sidebar");
    sidebar.classList.toggle("sidebar-hidden");
    sidebar.classList.toggle("sidebar-open");
  }
</script>
</body>
</html>
