{% extends 'base.html' %}

{% load static %}

{% block header_links %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/add_allie.css' %}">
  <script src="{% static 'fullcalendar/core/index.global.js' %}"></script>
  <script src="{% static 'fullcalendar/daygrid/index.global.js' %}"></script>
{% endblock %}

{% block main_content %}

{% if error_message %}
    <div class="bread-crum">
        <a href="/allies/{{ally.id}}"><h1><b>{{ally.name}} &nbsp;</b></h1></a>
        <h1><b>> &nbsp;</b></h1>
        <h1><b>Reuniones y/o eventos</b></h1>
    </div>
{% endif %}
<div class="main_content_calendar">
<div class="header_calendar_container">
    <h1 class="calendar-title" >Calendario de Eventos y Reuniones </h1>
    <nav class="navigation-buttons-calendar">
        <a class="add_occurence_calendar add-event" href="create_event/">
            <img src="{% static 'img/icons/add-icon-white.png' %}" alt="">
            <p>Crear evento</p>
        </a>
        <a class="add_occurence_calendar" href="create_meeting/">
            <img src="{% static 'img/icons/add-icon-white.png' %}" alt="">
            <p>Crear reunion</p>
        </a>
    </nav>
</div>
    <div class="calendar-container">
        <div id="calendar"></div>
        <div id="event-info" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                    </div>
                    <div class="modal-body">
                        <p>Fecha: <span id="event_date"></span></p>
                        <p>Descripción: <span id="event_description"></span></p>
                        <p>Objetivo: <span id="event_objective"></span></p>
                        <p>Aliados: <span id="event_allies"></span></p>
                        <p><button id="send_reminder" class="btn btn-primary">Enviar Recordatorio</button></p>
                    </div>            
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var selected_event_info = null;

    document.addEventListener('DOMContentLoaded', function() {
        var calendar_el = document.getElementById('calendar');
        var event_info_el = document.getElementById('event-info');

        var calendar = new FullCalendar.Calendar(calendar_el, {
            events: JSON.parse('{{events_data|escapejs }}'),
            locale: 'es',
            eventClick: function(info) {
                var event_info_el = document.getElementById('event-info');
                var modal_title = event_info_el.querySelector('.modal-title');
                var event_date = event_info_el.querySelector('#event_date');
                var event_allies = event_info_el.querySelector('#event_allies');
                var event_description = event_info_el.querySelector('#event_description');
                var event_objective = event_info_el.querySelector('#event_objective');

                modal_title.textContent = info.event.title;
                event_date.textContent = info.event.start.toLocaleDateString();

                var allies_list = info.event.extendedProps.allies;
                var allies_html = "";
                allies_list.forEach(function(ally) {
                    allies_html += ally.name+", ";
                });
                event_allies.innerHTML = allies_html;

                event_description.textContent = info.event.extendedProps.description;
                event_objective.textContent = info.event.extendedProps.objective;

                selected_event_info = info;
                var event_info_modal = new bootstrap.Modal(event_info_el);
                event_info_modal.show();
            },
        });

        calendar.render();

        document.getElementById('send_reminder').addEventListener('click', function() {
            if (selected_event_info) {
                var allies_list = selected_event_info.event.extendedProps.allies;

                var recipients = [];

                allies_list.forEach(function(ally) {
                    var contacts_list = ally.contacts;
                    if (contacts_list) {
                        contacts_list.forEach(function(contact) {
                            recipients.push(contact.email);
                        });

                    } else {
                        console.log(ally.name + " no tiene contactos.");
                    }
                });
            } else {
                console.log("No se ha seleccionado ningún evento.");
            }

            if(recipients.length > 0){
                const subject = selected_event_info.event.title;
            
                const body = 'Cordial saludo.\n\nEste es un recordatorio de: '+subject+'. La fecha del encuentro es: '+selected_event_info.event.start.toLocaleDateString()+"\n\nAtentamente. Universidad ICESI.";

                console.log(recipients);

                const mailto_link = `mailto:${recipients}?subject=${encodeURIComponent(subject)}&body=${encodeURIComponent(body)}`;

                window.location.href = mailto_link;
            }
        });
    });
</script>


{% endblock %}

{% block pagina_actual_calendario %}
<div class="current-page"></div>
{% endblock %}
