{% extends 'base.html' %}

{% load static %}

{% block header_links %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/add_allie.css' %}">
  <script src="{% static 'fullcalendar/core/index.global.js' %}"></script>
  <script src="{% static 'fullcalendar/daygrid/index.global.js' %}"></script>
{% endblock %}

{% block main_content %}

{% if error_message %}
    <div class="bread-crum">
        <a href="/allies/{{ally.id}}"><h1><b>{{ally.name}} &nbsp;</b></h1></a>
        <h1><b>> &nbsp;</b></h1>
        <h1><b>Reuniones y/o eventos</b></h1>
    </div>
{% endif %}
<div class="main_content_calendar">
<div class="header_calendar_container">
    <h1 class="calendar-title" >Calendario de Eventos y Reuniones </h1>
    <nav class="navigation-buttons-calendar">
        <a class="add_occurence_calendar add-event" href="create_event/">
            <img src="{% static 'img/icons/add-icon-white.png' %}" alt="">
            <p>Crear evento</p>
        </a>
        <a class="add_occurence_calendar" href="create_meeting/">
            <img src="{% static 'img/icons/add-icon-white.png' %}" alt="">
            <p>Crear reunion</p>
        </a>
    </nav>
</div>
    <div class="calendar-container">
        <div id="calendar"></div>
        <div id="event-info" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                    </div>
                    <div class="modal-body">
                        <p>Fecha: <span id="event-date"></span></p>
                        <p>Descripción: <span id="event-description"></span></p>
                        <p>Objetivo: <span id="event-objective"></span></p>
                        <p>Aliados: <span id="event-allies"></span></p>
                        <p>Contactos: <span id="contact-emails"></span></p>
                        <p><button id="send-reminder" class="btn btn-primary">Enviar Recordatorio</button></p>
                    </div>            
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var selectedEventInfo = null;

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var eventInfoEl = document.getElementById('event-info');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            events: JSON.parse('{{events_data|escapejs }}'),
            locale: 'es',
            eventClick: function(info) {
                var eventInfoEl = document.getElementById('event-info');
                var modalTitle = eventInfoEl.querySelector('.modal-title');
                var eventDate = eventInfoEl.querySelector('#event-date');
                var eventAllies = eventInfoEl.querySelector('#event-allies');
                var eventDescription = eventInfoEl.querySelector('#event-description');
                var eventObjective = eventInfoEl.querySelector('#event-objective');

                modalTitle.textContent = info.event.title;
                eventDate.textContent = info.event.start.toLocaleDateString();

                var alliesList = info.event.extendedProps.allies;
                var alliesHTML = "";
                alliesList.forEach(function(ally) {
                    alliesHTML += ally.name+", ";
                });
                eventAllies.innerHTML = alliesHTML;

                eventDescription.textContent = info.event.extendedProps.description;
                eventObjective.textContent = info.event.extendedProps.objective;

                selectedEventInfo = info; // Almacena la información del evento seleccionado
                var eventInfoModal = new bootstrap.Modal(eventInfoEl);
                eventInfoModal.show();
            },
        });

        calendar.render();

        document.getElementById('send-reminder').addEventListener('click', function() {
            if (selectedEventInfo) {
                var alliesList = selectedEventInfo.event.extendedProps.allies;

                var recipients = [];

                alliesList.forEach(function(ally) {
                    var contactsList = ally.contacts;
                    if (contactsList) {
                        contactsList.forEach(function(contact) {
                            recipients.push(contact.email);
                        });

                    } else {
                        console.log(ally.name + " no tiene contactos.");
                    }
                });
            } else {
                console.log("No se ha seleccionado ningún evento.");
            }

            if(recipients.length > 0){
                const subject = selectedEventInfo.event.title;
            
                const body = 'Cordial saludo.\n\nEste es un recordatorio de: '+subject+'. La fecha del encuentro es: '+selectedEventInfo.event.start.toLocaleDateString()+"\n\nAtentamente. Universidad ICESI.";

                console.log(recipients);

                const mailtoLink = `mailto:${recipients}?subject=${encodeURIComponent(subject)}&body=${encodeURIComponent(body)}`;

                window.location.href = mailtoLink;
            }

            
        });
    });
</script>


{% endblock %}

{% block pagina_actual_calendario %}
<div class="current-page"></div>
{% endblock %}

