{% extends 'base.html' %}
{% load static %}

{% block header_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/create_event.css' %}">
{% endblock %}

{% block main_content %}



<div class="top_arrow_tittle">
  <a href="/calendar">
    <img class="arrow_image" src="{% static 'img/create_event/arrow.png' %}" alt="arrow">
  </a>
  <p class="top_tittle">Crear evento</p>
</div>

<p class="content_tittle"></p>
<div class="card-informacion">
  <div class="container">
    <div class="column-right-top">
      <div class="imageContainer">
        <input type="file" id="customFileInput" id="image" accept="image/*" name="image">
          <div>
            <img id="add-image" class="add_image" src="{% static 'img/create_event/add_image.png' %}" alt="add_image">
            <label id="add-image-text" class="content_text" >Agregar imagen del evento</label>
      
            <label for="customFileInput" id="customFileButton">Seleccionar archivo</label>
            <span id="loading-text">Cargando imagen...</span>
          </div>
        </div>
    </div>
    <div class="column column-left-top">

      <div>
        <label class="content_text">Nombre</label>
        <br>
        <input type="text" class="form_text" name="allie_name" placeholder="Nombre del evento">
        <br>
      </div>

      <br>
      <label class="content_text">Seleccione los aliados involucrados</label>
<div class="form">
    <div class="dropdown">
        <button class="dropbtn">Aliados involucrados</button>
        <div class="dropdown-content">
            {%for ally in alies%}
            <a href="#">{{ally.name}}</a>
            {%endfor%}
        </div>
    </div>
</div>
      <br>
      <label class="content_text">Seleccione la categoría</label>
<div class="form">
  <div class="dropdown">
    <button class="dropbtn">Categoría</button>
    <div class="dropdown-content">
        <a href="#">Florecimiento</a>
        <a href="#">Organizacional</a>
    </div>
  </div>
</div>
        

<div class="form">
    <label class="content_text">Objetivo</label>
    <br>
    <textarea type="text" class="form_text" name="allie_area" placeholder="Objetivo del evento"></textarea>
    <br>
  </div>
</div>

  <div class="row">
      <label class="content_text">Descripción</label>
      <br>
      <textarea class="form_text" name="Objective" id="expanding-input" oninput="autoExpand(this)" placeholder="Descripción del evento"></textarea>
      <br>
    </div>
    <div class="row">
      <label class="content_text">Seleccione una fecha y hora:</label>
        <input type="date" name="fecha" class="form_text form_date">
      </div>
    </div>
    </div>

<a href="/calendar">
  <div class="container">
    <button class="button-style">Crear reunión</button>
  </div>
  </a>



{% endblock %}
