{% extends 'base.html' %}
{% load static %}

{% block header_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/add_allie.css' %}">
{% endblock %}

{% block main_content %}

{% if error_message %}
  <div class="alert alert-danger">
    {{ error_message }}
  </div>
{% endif %}

<div class="bread-crum">
  <a href="/allies/{{ally.id}}"><h1><b>{{ally.name}} &nbsp;</b></h1></a>
  <h1><b>> &nbsp;</b></h1>
  <a href="/interns/{{ally.id}}"><h1><b>Practicantes &nbsp;</b></h1></a>
  <h1><b>> &nbsp;</b></h1>
  <h1><b>editar internos </b></h1>
</div>

<div class="top_arrow_tittle" style="margin-top: 1.875rem; margin-left: 1.875rem;">
  <a href="/interns/{{ally}}">
    <img class="arrow_image" src="{% static 'img/add_allie/arrow.png' %}" alt="arrow">
  </a>
  <p class="top_tittle">Editar informacion interno interno</p>
</div>

<form method="post" enctype="multipart/form-data">

    {% csrf_token %}

  <p class="content_tittle">Información interno</p>
  <div class="card-informacion">
    <div class="container">
      <div class="column column-left-top">

        <div>
          <label class="content_text">Nombre</label>
          <br>
          <input type="text" class="form_text" name="nombre" placeholder="Nombre" value="{{practicing.name}}">
          <br>
        </div>

        
        <div class="form">
         
        <label class="content_text">Pregrado</label>
        <br>
    <select class="form_text" name="allie_area">
      <option  value="{{practicing.career_id.id}}" {% if not request.GET.tipo %}selected{% endif %}>{{practicing.career_id.name}}</option>
      {% for career in careers %}
          <option value="{{ career.id }}" {% if request.GET.tipo == career.id %}selected{% endif %}>
              {{ career.name }}
          </option>
      {% endfor %}
  </select>
          </div>  

            <div class="form">
            <label class="content_text">Cargo del puesto</label>
        <br>
        <textarea class="form_text" name="allie_description" id="expanding-input" oninput="autoExpand(this)" placeholder="Descripción">{{practicing.position}}</textarea>
        <br>
      </div>
      </div>

  <div class="column column-right-top">


    <div class="imageContainer" style="margin-bottom:40px;">
      <input type="file" id="customFileInput" accept="image/*" name="image" onchange="loadImage(this)" >
      
      <label for="customFileInput" id="customFileButton">Seleccionar archivo</label>

   </div>


  </div>

    
    </div>
  </div>
  <div class="row-bottom">
    <button type="submit" class="button-style-delete" style="margin-right:10px" name="delete" value="delete">Borrar</button>
    <button type="submit" class="button-style" style="margin-left:10px;  width: 50%;" name="edit" value="edit">Editar interno</button>
  </div>

</form>

<script>
  const imageContainer = document.querySelector(".imageContainer");
  const imageInput = document.getElementById("customFileInput");
  const customFileButton = document.getElementById("customFileButton");
  const imageUrl = "data:image/jpeg;base64,{{ practicing.image_link }}";
  imageContainer.style.backgroundImage = 'url(' + imageUrl + ')';
  
  imageInput.addEventListener("change", function () {
      const file = this.files[0];
      if (file) {
          
          const reader = new FileReader();
  
          reader.onload = function (e) {
              const imageUrl = e.target.result;
              imageContainer.style.backgroundImage = 'url(' + imageUrl + ')';
          
          };
  
          reader.readAsDataURL(file);
      }
  });
  
  customFileButton.addEventListener("click", function () {
      imageInput.click();
  });
  
  function autoExpand(input) {
      input.style.height = 'auto';
      input.style.height = (input.scrollHeight) + 'px';
  }
  window.addEventListener('load', function () {
      autoExpand(document.getElementById('expanding-input'));
  });
  
  function loadImage(input) {
    // Obtener el elemento de la imagen
    const previewImage = document.getElementById('previewImage');
    const imagePreviewDiv = document.getElementById('imagePreviewDiv');
  
    // Establecer el atributo src de la imagen y el atributo alt
    previewImage.setAttribute('src', imageLink);
    previewImage.setAttribute('alt', 'Image Preview');
  
    // Mostrar el div de vista previa de la imagen
    imagePreviewDiv.style.display = 'block';
  }
  
  window.addEventListener('DOMContentLoaded', (event) => {
    // URL de la imagen (reemplaza con tu valor real)
    const imageUrl = "data:image/jpeg;base64,{{ practicing.image_link }}";
  
    // Llamar a la función loadImage con la URL de la imagen
    loadImage(null, imageUrl);
  });
  
  
</script>

<script>
  function delete_intern(id){
      Swal.fire({
        "title": "¿Estas Seguro?",
        "text": "Esta acción no se podrá deshacer",
        "icon": "question",
        "showCancelButton": true
      })
      .then(function(result){
        if(result.isConfirmed) {
          window.location.href = "/interns/"+id
        }
      })
  }
</script>
{% endblock %}

{% block pagina_actual_aliados %}
<div class="current-page"></div>
{% endblock %}