{% extends 'base.html' %}
{% load static %}

{% block header_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/allies/interns.css' %}">
{% endblock %}



{% block main_content %}

<section class="main-content-allies">
    <div class="bread-crum">
        <a href="/allies/{{ally.id}}"><h1><b>{{ally.name}} &nbsp;</b></h1></a>
        <h1><b>> &nbsp;</b></h1>
        <h1><b>Practicantes</b></h1>
    </div>  
    <div class="main-content__header">
        <h1><b> Practicantes</b></h1>
        {% if user.user_type_id.name == "Filantropia" %} 
        <a href="/interns/add_intern/{{ally.id}}">
            <img style="opacity: 0.75" src="{% static 'img/icons/add-icon.png' %}" alt="" id="add">
        </a>
        {% endif %}
    </div>
    <form method="get" class="button-container">
        <input class="search-field search-text-field" type="text" name="q" id="searchText" placeholder="Buscar por nombre" value="{{ request.GET.q }}">                   
        <button class="buton-search-field" type="submit" id="find"><b>Buscar</b></button>
    </form>   

    <div class="allies-container">
    {% for p in practice %}
        <a class="allies-card" href="/edit_intern/{{ally.id}}/{{p.id}}/" id="{{p.id}}">
            <div>
                <div class="column allies-card-image-container">
                    <img  src="data:image/jpeg;base64,{{ p.image_link }}" alt="{{ p.name }}">
                </div>
                <div class="column column-left-bottom allies-info" style="display: inline-block;">
                    <p class="allie-name">{{ p.name }}</p>
                    <p class="allie-area">{{ p.position }}</p>
                </div>
            </div>
                <img src="{% static 'img/icons/edit-icon.png' %}" alt="arrow" style="opacity: 0.7; margin-top:22px;height: 30px; width:30px; border-radius:0; ">
        </a>

        {% else %}
        
        <div class="allies-card" href="/edit_intern/{{ally.id}}/{{p.id}}/">
            <div>
                <div class="column allies-card-image-container">
                    <img  src="data:image/jpeg;base64,{{ p.image_link }}" alt="{{ p.name }}">
                </div>
                <div class="column column-left-bottom allies-info" style="display: inline-block;">
                    <p class="allie-name">{{ p.name }}</p>
                    <p class="allie-area">{{ p.position }}</p>
                </div>
            </div>
        </div>

        {% endif %}
    {% endfor %}
    </div>
</section>

{% endblock %}

{% block pagina_actual_aliados %}
<div class="current-page"></div>
{% endblock %}  
