<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <title>CRM Filantropia</title>
</head>
<body class="container-fluid">
  <section class="row align-items-center main-section">
      <div class="col-7 img-main-photo">
      </div>    
      <div class="col-5 login-section">
          <div class="col align-items-center">
            <div class="logo-icesi-container">
              <img src="https://www.icesi.edu.co/donaciones/templates/shaper_hope/images/presets/preset2/logo.png" alt="">
            </div>
            <h1><b>Bienvenido de vuelta</b></h1>
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"><b>Usuario</b></label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Escribe tu usuario">
                <div id="emailHelp" class="form-text"><a href="#">Olvidaste tu contraseña?</a></div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"><b>Contraseña</b></label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Escribe tu contraseña">
              </div>
              <button type="submit" class="btn btn-primary"><b>Ingresar</b></button>
            </form>
          </div>
      </div>
  </section>
</body>
</html>