{% extends 'base.html' %}
{% load static %}

{% block header_links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/allies.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/investigation-projects/investigation_projects.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/investigation-projects/single_page_investigation_projects.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/allies/ally-donation.css' %}">
{% endblock %}


{% block main_content %}

<div class="investigation-header">
    <div class="investigation-header__container-title">
        <a class="left-arrow-investigation" href="/investigations" style="margin-top: 8px;">
            <img class="arrow_image" src="{% static 'img/add_allie/arrow.png' %}" alt="arrow">
        </a>
        <h1>{{project.name}}</h1>
    </div>
</div>

<section class="main-content-allies">    
    <div class="investigation-dates">
        <div class="investigation-dates__start">
            <h5>Fecha de inicio:</h5>
            <p>{{project.start_date}}</p>
        </div>
        <div class="investigation-dates__end">
            <h5>Fecha de finalizacion:</h5>
            <p>{{project.finish_date}}</p>
        </div>
    </div>

    <div class="investigation-description">
        <h3>Descripcion:</h3> 
        <p>{{project.description}} </p>
    </div>

    <div class="investigation-description">
        <h3>Objetivos:</h3> 
        <p>{{project.objetivos}} </p>
    </div>

    
    <div class="investigation-allies">
        <h3>Aliados involucrados:</h3>
        
        <div class="investigation-allies__container-alllies">
            {%for p in projects%}

            <div class="investigation-allies-card">
                <img class="investigation-allies-card__img" src="data:image/jpeg;base64,{{p.allie.image_link}}">
                <h5>{{p.allie.name}}</h5>
            </div>
            {% endfor %}
        </div>
        
    </div>
    

    <div class="row-bottom">
        <h3>Publicaciones:</h3>
        <a href="/add_publication/{{project.id}}">
            <img src="{% static 'img/icons/add-icon.png' %}" alt="" style="opacity: 0.78; padding-left: 35px; padding-right: 10px; padding-bottom: 15px; width:80px;">
        </a>
    </div>
    <div class="investigation-publications">
        

        <div class="history-donations__element-container">
            {% for p in publications %}
            <div class="history-donations__element">
                <div class="history-donations_element-summary">
                    <h5>{{p.name}}</h5>
                    <p>{{p.doi}}</p>
                </div>
                <div class="history-donations_element-description">
                    <p>{{p.date}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
</section>

{% endblock %}

{% block pagina_actual_investigacion %}

<div class="current-page"></div>

{% endblock %}  